<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1> CREATE LEADER </h1>

    <form action="/leaders" method="POST">
        Name: <input type="text" name="name"> <br>
        Country: <input type="text" name="country"> <br>
        Age: <input type="text" name="age"> <br>
        Gender: <input type="text" name="gender"> <br>
        Alive: <input type="checkbox" name="isAlive"> <br>
        <button type="submit"> SUBMIT NEW </button>
    </form>

</body>
</html>